<!DOCTYPE html>
<html>
<head>
  <!-- Document Character Encoding Metadata -->
    <meta charset="UTF-8">

    <!-- Document HTTP Equivalent Compatibility Metadata -->
    <meta content="chrome=1, IE=Edge" http-equiv="X-UA-Compatible">

    <!-- Document Viewport Metadata -->
    <meta
        content="
            height=device-height,
            initial-scale=1.0,
            maximum-scale=2.0,
            minimal-ui,
            minimum-scale=0.1,
            user-scalable=no,
            width=device-width"
        target-densitydpi="92dpi"
        name="viewport">

    <!-- Miscellaneous Metadata -->
        <!-- Author -->
        <meta content="Lapys Dev Team" name="author">

    <!-- Stylesheets -->
        <!-- LapysJS Stylesheet -->
        <link href="assets/css/lapys.css" media="all" rel="stylesheet" type="text/css">
        <!-- font awesome -->
        <link href="assets/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">

        <!-- Base Stylesheet -->
        <link href="assets/css/base.css" media="all" rel="stylesheet" type="text/css">

        <!-- Document Stylesheet -->
        <link href="assets/css/landing.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="ico/x-ico" href="img/ico/favicon.ico">

	<title>Dashboard | investNaira</title>
</head>
<body>
<div class="container">
	<div class="header">
	<div class="logo_house"><img src="assets/img/png/brand2-invert.png"></div>
	<ul class="nav">
		<li><a href="/">Home</a> </li>
		<li><a href="#">Forum</a> </li>
		<li><a href="http://www.investnaira.com">Blog</a> </li>
		<li class="active1"><a href="/dashboard">Dashboard</a> </li>
	<li><a href="/strategy">Our Strategy</a> </li>
	</ul>
	<div class="beside_me">
  &#x2630;
</div>
</div>
<div class="sec_pho">
	<div class="header2">
		<ul class="nav2">
		<li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
			<li><a href="/save"><i class="fa fa-send"></i> Save</li>
			<li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
			<li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

		</ul>

	</div>

	<div class="dasee2">
	<ul class="nav3"><li><i class="fa fa-th"></i> overview</li></ul>
			<div class="beside_me2">
			<span onclick="openNav()">
			&#8226;
			 &#8226;
			 &#8226;
			 </span>

</div>
		</div>
		<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul class="nav3">
    <li><a href="/dashboard"><i class="fa fa-th"></i> Overview</a></li>
			<li><a href="/save"><i class="fa fa-send"></i> Save</li>
			<li><a href="/invest"><i class="fa fa-money"></i> Invest</li>
			<li><a href="/compound"><i class="fa fa-bar-chart"></i> Compound Wealth</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>

		</ul>
</div>

	<div class="floats_on" id="main">
    <% if (user.overview) { %>
      <div class="overview">
        <span style="text-transform: capitalize;" class="head1">overview</span>
        <span class="amount_count">&#x20A6;<%= user.overview.balance %><sup>.00k</sup><br><span> current balance</span></span>
        <span class="amount_count">&#x20A6;<%= user.overview.deposit %><sup>.00k</sup><br><span> total deposit</span></span>
        <span class="amount_count">&#x20A6;<%= user.overview.withdrawn %><sup>.00k</sup><br><span> total withdrawn</span></span>
        <span class="amount_count">&#x20A6;<%= user.overview.returns %><sup>.00k</sup><br><span>returns earned</span></span>
      </div>
    <% } else { %>
      <div class="overview">
        <span style="text-transform: capitalize;" class="head1">overview</span>
        <span class="amount_count">&#x20A6; 0<sup>.00k</sup><br><span> current balance</span></span>
        <span class="amount_count">&#x20A6;0<sup>.00k</sup><br><span> total deposit</span></span>
        <span class="amount_count">&#x20A6;0<sup>.00k</sup><br><span> total withdrawn</span></span>
        <span class="amount_count">&#x20A6;0<sup>.00k</sup><br><span>returns earned</span></span>
      </div>    <% } %>


		<div class="overview1">
			<span class="head1" style="text-transform: capitalize;">Connected accounts</span>
 <!-- <span style="margin-top: 3%;display: block;"><i class=" fa fa-cc-mastercard" style="font-size: 4em;"></i><span class="card_name_num"> MASTERCARD-6451</span></span> -->
 <% if (user.local.email) { %>
     <p>

         <!-- <strong>id</strong>: <%= user._id %><br> -->
         <strong>Email</strong>: <%= user.local.email %><br>
         <!-- <strong>password</strong>: <%= user.local.password %> -->
     </p>
 <% } %>


 <% if (user.facebook.token) { %>
     <p>
       <strong>Facebook</strong><br>
         <!-- <strong>id</strong>: <%= user.facebook.id %><br> -->
         <!-- <strong>token</strong>: <%= user.facebook.token %><br> -->
         <strong>name</strong>: <%= user.facebook.name %><br>
         <strong>email</strong>: <%= user.facebook.email %><br>
     </p>

    <br>
 <% }  %>

 <% if (user.twitter.token) { %>
     <p>
       <strong>Twitter</strong><br>
         <!-- <strong>id</strong>: <%= user.twitter.id %><br> -->
         <!-- <strong>token</strong>: <%= user.twitter.token %><br> -->
         <strong>username</strong>: <%= user.twitter.username %> <br>
         <strong>display name</strong>: <%= user.twitter.displayName %><br>
     </p>
 <% } %>


 <% if (user.google.token) { %>
     <p>
       <strong>Google</strong><br>
         <!-- <strong>id</strong>: <%= user.twitter.id %><br> -->
         <!-- <strong>token</strong>: <%= user.twitter.token %><br> -->
         <strong>username</strong>: <%= user.twitter.username %> <br>
         <strong>display name</strong>: <%= user.twitter.displayName %><br>
     </p>

 <% } %>


<br>
      <span style="text-transform: capitalize;color:#00a65a;"><a href="/profile">Manage Account <i class="fa fa-arrow-right"></i></a></span>
		</div>
		<div class="overview1">
			<span class="head1" style="text-transform: capitalize;">transactions</span>
      <table>
      			<tr>
      				<th>Date</th>
      				<th>Description</th>
      				<th>Amount</th>
      				<th>Balance</th>
      			</tr>
      <br /><br />

      <% user.transaction.forEach(function(transaction){ %>
        <tr>
  <td><%- transaction.date %></td>
  <td><%- transaction.description %></span></td>
  <td>&#x20A6;<%- transaction.amount %><sup>.00 k</sup></td>
  <td>&#x20A6;<%- transaction.balance %><sup>.00 k</sup></td>
</tr>
</table>
             <%});%>

		</div>
	</div>
</div>

</div>
<script type="text/javascript">


/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
     document.getElementById("mySidenav").style.zIndex = "500";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
</script>

</body>
</html>
